body{
    margin: 0;
    /*height: 100vh;*/
    width: 100%;
    font-family:'Roboto' ;
}
.top-bar{
    padding: 15px 5%;
    box-sizing: border-box;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background: white;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.top-bar-left{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    box-sizing: border-box;
    border-right: 1px solid rgba(0,0,0,.3);
}
.logo{
    width: 10%;
    font-size:1rem;
}
.categories{
    width: 15%;
}
.search-bar{
    display: flex;
    width: 40%;
    height: 60%;
    border: 1px solid rgba(0,0,0,0.3);
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}
.search-bar input{
    width: 80%;
    border: none;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
.search-bar i{
    width: 20%;
    text-align: center;
}
.top-bar-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.top-bar-right .bar-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
nav{
    padding: 15px 5%;
    box-sizing: border-box;
    align-items: center;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
nav .trendings{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}
.trendings .trendings-cat-item{
    margin-right: 15px;
}

.carousel{
    height: 75vh;
}
section,.welcome-card{
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 15px 5%;
    box-sizing: border-box;
}
.title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Roboto Slab';
    text-align: center;
    margin-bottom: 5px;
}
.welcome-card .header{
    width: 100%;
    margin: unset;
}
.body-cards,.testimonial-items,.feature-items{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.body-card-item,.testimonial-item,.feature-item{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 15px;
    padding: 15px;
    height: 50vh;
    width: 20%;
    overflow: hidden;
    display: flex;
}
.testimonials{
    width: 100%;
    display: flex;
    height: 85vh;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px 5%;
    box-sizing: border-box;
}
.testimonial-item{
    width: 40%;
    display: flex;
}
.testimonial-item .profile{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
}
.avatar{
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}
.testimonial{
    width: 55%;
}

img{
    height: 100%;
    object-fit: cover;
    width: auto;
    object-position: center;
}
.associate-bar{
    width: 100%;
    height: 10vh;
    display: flex;
}
.associate-bar span{
    width: 50%;
    height: 100%;
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.5);
}
footer{
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #4f5b66;
    color: white;
    padding: 15px 5%;
    box-sizing: border-box;
}
.footer-items{
    /*height: 100%;*/
    padding: 15px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid rgba(255,255,255);
}
.footer-items:nth-child(4){
    border: none;
}
.footer-items span{
    margin-bottom: 15px;
}
.sub-header{
    font-family: 'Roboto Slab';
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 1px;
}
i{
    margin-right: 5px
}
.carousel{
    background: url('https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80');
    padding: 15px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover
}
.buttons{
    width: 100%;
    display:flex;
    justify-content:space-between;
}
button{
    padding: 15px;
    width: 20vw;
    border: none;
    color: white;
    font-family: Roboto!important;
    font-size: 14px;
    background: #2d2d2d;
}

.round {
    position: relative;
    width: 25%;
}

.round .tick-circle {
    background-color: #66bb6a;
    border-color: #66bb6a;
    border-radius: 50%;
    cursor: pointer;

    left: 0;
    position: absolute;
    top: 0;
    width: 3vw;
    height: 3vw;
}

.round .tick-circle:after {
    border: 0.5vw solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 0.5vw;
    left: 17%;
    opacity: 1;
    position: absolute;
    top: 30%;
    transform: rotate(-45deg);
    width: 1.5vw;
}
.feature-item{
    flex-direction: column;
}
.feature-body{
    width: 100%;
    flex: 1;
    overflow: hidden;
    display: flex;
}
.body-content{
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.body-content .sub-header{
    /*flex: 1;*/
    margin: 0 0 10px 0;
    text-decoration: none;
}
.body-content .main-content{
    height: 80%;
    color: black;
    overflow: hidden;
}
.feature-item button{
    /*flex: 1;*/
    width: 100%;
    margin-top: 10px;
}
.customer-mail{
    height: 45vh;
    padding: 15px 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customer-mail .content{
    width: 100%;
    flex: 1;
    flex-direction: column;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
.form-item:first-child{
    width: 100%;
    display: flex;
    height: 60%;
}
.form-item textarea{
    width: 100%;
}
.form-item{
    display: flex;
    justify-content: space-between;
}
.form-item input{
    width: 35%;
}